<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles>
        <customerUserRole>Customer</customerUserRole>
        <employeeUserRole>Employee</employeeUserRole>
        <partnerUserRole>Partner</partnerUserRole>
    </communityRoles>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>wsanoja@salesforce.com</emailSenderAddress>
    <emailSenderName>Dealer Support</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>true</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>http://dealer.volvo.com/</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Calendar</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/calendar</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Sales</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <defaultListViewId>My_Dealership_s_Open_Leads</defaultListViewId>
                    <label>Leads</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Lead</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <defaultListViewId>My_Open_Opportunities_Dealer</defaultListViewId>
                    <label>Opportunities</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Opportunity</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Activities</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/activities-tab</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>My Account Management</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>My Dealer Accounts</label>
                    <position>0</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/mydealeraccounts</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <defaultListViewId>My_Assigned_Accounts</defaultListViewId>
                    <label>My Assigned Accounts</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Assigned_Sales_Rep__c</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <defaultListViewId>My_Team_s_Assigned_Accounts</defaultListViewId>
                    <label>My Team&apos;s Assigned Accounts</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/asr-my-teams-assigned-accounts</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Customer Profiles</label>
                    <position>3</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>https://mycrm.volvo.com/s/report/00Of2000007caCe</target>
                    <targetPreference>OpenExternalLinkInSameTab</targetPreference>
                    <type>ExternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Customer Profiles - Key Account</label>
                    <position>4</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>https://mycrm.volvo.com/s/report/00Of2000007caCf</target>
                    <targetPreference>OpenExternalLinkInSameTab</targetPreference>
                    <type>ExternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Contact Management</label>
            <position>4</position>
            <publiclyAvailable>true</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <defaultListViewId>MyContacts</defaultListViewId>
                    <label>Contacts</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Contact</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Contact Report</label>
                    <position>1</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>https://mycrm.volvo.com/s/report/00Of2000007cU5s</target>
                    <targetPreference>OpenExternalLinkInSameTab</targetPreference>
                    <type>ExternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Dealer User</profile>
        <profile>Dealer Admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <newSenderAddress>ben.prozinski@consultant.volvo.com</newSenderAddress>
    <picassoSite>Dealer1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Dealer</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>Lead</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
